<div class="flex flex-col justify-center items-center h-screen mx-[8dvw]">
    <p class="font-satoshi-black text-[3.4dvh]">¿Cómo funciona?</p>
    <img src="/images/auto_roto.png" alt="Un vehiculo en NO tan mal estado" class="w-[80%] h-auto mt-4" />
    <p class="font-dm-sans-medium text-2xl text-center text-black/70 tracking-[-1.2px]">Imagina que tú y 4 amigos compran un auto en mal estado</p>
</div>