<div class="flex flex-col justify-center items-center h-screen mx-[8dvw]">
    <img src="/images/auto_reparado_con_porcentajes.png" alt="Un vehiculo en NO tan mal estado" class="w-[80%] h-auto mt-4" />
    <p class="font-dm-sans-medium text-xl mt-8 text-center text-black/70 tracking-[-1.2px]">Ahora cada uno obtendrá una ganancia de su inversión</p>
</div>