---
import "../styles/global.css"

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';

// Secciones del storytelling

import HowWorks from "../components/story/HowWorks.astro";
import Percentage from "../components/story/Percentage.astro";
import Sell from "../components/story/Sell.astro";
import Retorno from "../components/story/Retorno.astro";
import RetornoDashboard from "../components/story/RetornoDashboard.astro";
import Summary from "../components/story/Summary.astro";
---

<Layout>
	<div class="flex justify-center">
		<Navbar />
	</div>
	<Hero />

	<!-- Story  -->
	<HowWorks />
	<Percentage />
	<Sell />
	<Retorno />
	<RetornoDashboard />
	<Summary />
</Layout>
