---
import "../styles/global.css";

import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout>
	<div class="flex justify-center">
		<Navbar />
	</div>
	<Hero />
</Layout>
