<div class="flex flex-col justify-center items-center h-screen mx-[8dvw]">
    <p>¿Cómo funciona?</p>
    <img src="/images/how-works.png" alt="Cómo funciona" class="w-[80%] h-auto mt-4" />
    <p>Imagina que tú y 4 amigos compran un auto en mal estado</p>
</div>