---
import { Menu } from "@lucide/astro";
---

<nav
  class="w-[80dvw] mx-auto flex items-center justify-between p-6 bg-[#1C1C1C]/80 text-white fixed top-4 z-50 rounded-2xl border-2 border-white/30 backdrop-blur-2xl"
>
  <img src="/isotipo.svg" alt="Logo" />
  <Menu size={30} />
</nav>
