<div class="bg-[#1D1D1D] text-white p-6 rounded-xl">
    <div class="mb-4">
        <img src="/images/actual_image.png" alt="Inversiones Imagenes Comparativas" class="w-full h-auto rounded-lg" />
        <p class="font-dm-sans-medium text-lg mt-2">Actualmente</p>
    </div>
    <div>
        <img src="/images/preview_image.png" alt="Inversiones Imagenes Comparativas" class="w-full h-auto rounded-lg" />
        <p class="font-dm-sans-medium text-lg mt-2">Próximamente</p>
    </div>
</div>